<%= form_for @message, :remote => true, :html => {class: "form-horizontal", role: "form", id: "message-form"} do |f| %>
<div class="form-group">

    <div class="col-sm-4">
        <%= f.text_area :body, rows: 10, class: "form-control",
 placeholder: "Enter Your Message" %><br>
    </div>
    <div class="col-sm-offset-2 col-sm-10"><br>
        <%= f.submit "Send Message", class: "btn btn-primary btn-sm" %>
    </div>
</div>
<% end %>
