<section id="about">
  <div class="header">
    <div class="title">
      <a class="back-button" href="/">&lt;</a></div>
    About: Find My Pet</div>
  <div id="about-container">
    <p>
      Find My Pet&trade; is a crowd-sourced lost-pet mapper.
    </p>

    <h3>How it works</h3>
    <ul>
      <li>Pet owners report their lost pets</li>
      <li>Community members report sightings of lost pets.</li>
      <li>We map the sightings to help return pets to their owners.</li>
    </ul>

    <h3>Why Find My Pet?</h3>
    <ul>
      <li>70% of households in Canada own a pet</li>
      <li>Every year an estimated 1 million pets are reported lost in Canada.</li>
      <li>Find My Pet exists to reunite lost and lonely pets with their humans.</li>
    </ul>

  </div>
</section>
